.topWord {
  color: #2e2e2e;
  padding-top: 130px;
  padding-bottom: 10px;
  font-size: 40px;
}

.divider {
  margin: auto;
  width: 50%;
  height: 2px;
  background: black;
}

.bottomWord {
  color: gray;
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 80px;
}

.grade-buttons {
  display: flex;
  justify-content: center;
}

.no-button,
.yes-button {
  background-color: lightseagreen;
  width: 200px;
  color: white;
  width: 100px;
  margin-left: 10px;
  margin-right: 10px;
  height: 45px;
  border-radius: 7px;
  font-size: 20px;
}

.showAnswer {
  background-color: lightseagreen;
  color: white;
  width: 180px;
  height: 45px;
  margin-top: 175px;
  border-radius: 7px;
  font-size: 20px;
}

.rememberText {
  color: grey;
  padding: 10px;
}
