.home-container {
  text-align: center;
}

.home-title {
  font-size: 30px;
  margin: 60px;
}

.home-link-container {
  border-radius: 7px;
  margin: auto;
  margin-top: 30px;
  width: 60%;
}

a.home-links {
  text-decoration: none;
  margin: auto;
  color: white;
  background-color: lightseagreen;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 45px;
  border-radius: 7px;
}

a.home-links:visited {
  color: white;
}
