.homecontainer {
    width: 800px;
    height: 1000px;
    margin: auto;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    background-color: white;
    box-shadow:1px 1px 20px 1px #E8E8E8; 
}

h1 {
    padding-top: 40px;
    margin-bottom: 100px;
    color: orange;
}

h2 {
    color: grey;
    margin-bottom: 100px;
}

.signuptext {
    font-size: 20px;
    margin: 20px;
    color:orange;
}
.authButtons {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 300px;
    font-size: 20px;
    margin: auto;
    font-weight: 500;
    padding-bottom: 30px;
}

.button {
    text-decoration: none;
    margin-bottom: 30px;
    color: white;
    border-radius: 15px;
    background-color: orange;
    line-height: 50px;
}

button {
    width: 307px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 30px;
    border-radius: 1px;
    background-color: #4caf50;
    font-size: 15px;
    color: white;
  }

.containerStyle {
  width: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.labels {
  padding-top: 30px;
  padding-bottom: 5px;
  justify-content: flex-start;
}

input {
  width: 300px;
  height: 30px;
}

input[type="text"] {
  font-size: 15px;
}

.headerLink {
  text-decoration: none;
  color: white;
  font-weight: 600;
  letter-spacing: 0.0625em;
  padding-top: 5px;
}

.startLink {
  text-decoration: none;
  color: #32CD32;
  font-size: 20px;
  font-weight: 700;
}

fieldset {
  border: 0;
}

.emailPadding {
  padding-top: 30px;
}
